body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
section {
  margin-bottom: 80px;
}
/* navigation bar css */
.navbar {
  padding: 2% 5%;
  background-color: #fff;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #3e3e3e;
}
.navbar-nav a {
  font-size: 16px;
  color: #3e3e3e;
}

/* carousel */
.carousel-item h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 10px;
}
.carousel-item p {
  color: #fff;
  font-size: 16px;
}
.carousel-item a {
  text-decoration: none;
  display: inline-block;
  color: #3f87f5;
  padding: 0.8% 2%;
}
.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.hero-content h2 {
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
}
.hero-content p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
}
