body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* navigation bar css */
.navbar {
  padding: 2% 5%;
  background-color: #fff;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #3e3e3e;
}
.navbar-nav a {
  font-size: 16px;
  color: #3e3e3e;
}

/* carousel */
.carousel-item h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 10px;
}
.carousel-item p {
  color: #fff;
  font-size: 16px;
}
.carousel-item a {
  text-decoration: none;
  display: inline-block;
  color: #3f87f5;
  padding: 0.8% 2%;
}
